<div class="container">
  <div class="row">
    <div>
      <h3>About</h3>
    </div>
    <div>
      <p>Ask your coach a question and he will give you an answer. Only one answer will satisfy your coach, however. 'I am going to work' is the only right answer!</p>
    </div>
  </div>
</div>
