<div class="flex-container">
  <div class="flex-standard">
    <h3>About</h3>
  </div>
</div>
<div class="flex-container">
  <div class=" flex-standard">
    <p>Your coach is waiting for you to say something. Enter what you want to say to him and he will give you an answer. Only one statement will satisfy your coach, however. 'I am going to work' is the only phrase that will make him happy!</p>
  </div>
</div>

