<div class="flex-container">
  <h3>About</h3>
</div>
<div class="flex-container">
  <div class="flex-item">
    <p>Ask your coach a question and he will give you an answer. Only one answer will satisfy your coach, however. 'I am going to work' is the only right answer!</p>
  </div>
</div>

