<div class="container">
  <div class="row">
    <div class="conversation_ask container_talk">
      <p><%= @ask %></p>
      <p>--You</p>
    </div>
    <div class="conversation_response container_talk">
      <p><%= @answer %></p>
      <p>--Your coach</p>
    </div>

    <div class="get_answer container_talk">
      <%= link_to 'Ask a new question', ask_path %>
    </div>
  </div>
</div>
