<div class="conversation_ask">
<p><%= @ask %></p>
<p>--You</p>
</div>
<div class="conversation_response">
<p><%= @answer %></p>
<p>--Your coach</p>
</div>

<div class="get_answer">
<%= link_to 'Ask a new question', ask_path %>
</div>
