<div class="container">
  <div class="row">
    <div class="ask_coach container_talk">Ask your coach anything:</div>
    <div class="container_talk">
      <form action="/answer" method="get">
        <input type="text" name="question" placeholder="Ask a question" class="question_input">
        <input type="submit" value="Ask!" class="button">
      </form>
    </div>
  </div>
</div>
