<div class="flex-container">
  <div class="flex-left flex-standard padding">Ask your coach anything:
  </div>
</div>
<div class="flex-container">
  <div class="flex-left flex-standard ">
    <form action="/answer" method="get">
      <p>
      <input type="text" name="question" placeholder="Ask a question" class="question_input border border-left">
      </p>
      <p>
      <input type="submit" value="Ask!" class="button button-pad-large">
      </p>
    </form>
  </div>
</div>

