// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: 1px solid blue;
}

.question_input {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-right: -6px;
  border-left: 20px solid lightgrey;
}

.conversation_ask {
  flex: 0 1 350px;
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 5px;
  border-left: 20px solid lightgrey;
}

.conversation_response {
  flex: 0 1 350px;
  border: 1px solid lightgrey;
  margin: 10px;
  padding: 5px;
  background-color: #f6faef;
  border-left: 20px solid lightgrey;
}

.get_answer {
  margin: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-item {
  flex: 0 1 350px;
  border: 1px solid lightgrey;
  padding: 25px;
}

.flex-talk {
  flex: 0 1 350px;
  padding-top: 30px;
  justify-content: left;
}

.padding {
  padding-top: 30px;
}
