// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  background-color: white;
  color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid blue;
}

.button-pad-small{
  padding-right: 100px;
  padding-left: 100px;
}

.button-pad-large {
  padding-right: 119px;
  padding-left: 119px;
}

// this needs to be at the top of this list or it will override other border settings
.border {
  border: 1px solid lightgrey;
}

.border-left {
  border-left: 20px solid lightgrey;
}
.question_input {
  padding: 10px;
  margin-right: -6px;
}

.conversation {
  padding: 5px;
}

.response {
  background-color: #f6faef;
}

.margin {
  margin: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.padding {
  padding: 25px;
}

.flex-left {
  justify-content: left;
}

.top-padding {
  padding-top: 30px;
}

.flex-standard {
  flex: 0 1 350px;
}
